<% provide(:title, '当月费用查询') %>
<div class="page-header position-relative">
	<h1>
		当月费用查询
		<small>
			<i class="icon-double-angle-right"></i>
			您可以在这里查询所有机构当月的费用明细
		</small>

	</h1>
</div><!--/.page-header-->

<div class="row-fluid">
	<div class="span12">
		<!--PAGE CONTENT BEGINS-->
		<div class="table-header">
			机构费用明细
		</div>

		<table id="branch_fee" class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th>机构名称</th>
					<th>设备总数</th>
					<th>结算有效设备数</th>
					<th>SIM卡总数</th>
					<th>结算有效SIM卡数</th>
					<th>机构总费用</th>
				</tr>
			</thead>
			<tbody>
				<% @fee_detail.each do |each_fee| %>
					<tr>
						<td><%= each_fee[:branch_name] %></td>
						<td><%= each_fee[:branch_device_count] %></td>
						<td><%= each_fee[:effect_device_count] %></td>
						<td><%= each_fee[:branch_sim_count] %></td>
						<td><%= each_fee[:effect_sim_count] %></td>
						<td><i class='icon-yen'></i><%= each_fee[:summary] %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
		
		<!--PAGE CONTENT ENDS-->
	</div>
</div> <!-- row-fluid -->

<script type="text/javascript">
	$(function() {
		var oTable1 = $('#branch_fee').dataTable();
})
</script>

