<div class='row-fluid'>
  <div class='offset1 span10'>
    <% if @notifications.blank? %>
      <div class="no_result" style="padding:80px 0;"><%= t('notification.no_notification')%></div>
    <% else %>
      <table id='inbox' class="table table-hover table-bordered table-condensed table-striped">
        <caption>
          <div class='row-fluid'>
            <div class='pull-left'>
              <%= link_to t("common.clear"), clear_notifications_path,
                  class: 'btn btn-small btn-danger',
                  method: :post,
                  'data-disable-with' => t('common.clearing') %>
            </div>
            <div class='pull-right'>
              <h5>
                <%= t(:x_notifications, scope: :notification, count: current_user.notifications.count) %>
              </h5>
            </div>
          </div>
        </caption>
        <tbody>
          <% for message in @notifications do %>
          <tr id="<%= message.anchor %>">
            <td>
              <div class='row-fluid'>
                <h5 class='blue'>
                  <b><%= message.title %></b>
                  <small>
                    <i class="icon-time"></i>
                    <span><%= time_ago_in_words(message.created_at) %>之前</span>
                  </small>
                  <div class='pull-right'>
                    <%= link_to t('common.delete'), message,
                      method: :delete, 
                      class: 'btn btn-small btn-danger',
                      'data-disable-with' => t('common.deleting') %>
                  </div>
                </h5>
              </div>
              <p><%= message.content %></p>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
    <div class='center'>
      <%= paginate @notifications %>
    </div>
  </div>
</div>