<% provide(:title, '个人资料') %>
<div class="page-header position-relative">
	<h1>
		个人资料
		<small>
			<i class="icon-double-angle-right"></i>
			您可以在这里修改个人信息，包括登录密码。
		</small>

	</h1>
</div><!--/.page-header-->

<div class="row-fluid">
	<div class="span12">
		<!--PAGE CONTENT BEGINS-->
		<div class='box'>
			<div id="user-profile-2" class="user-profile row-fluid">
				<div class="span3 center">
					<span class="profile-picture">
						<%= image_tag 'avatars/profile-pic.jpg', id: 'avatar2', class: 'editable', alt: "#{current_user.name}的头像" %>
					</span>
					<div class="space space-4"></div>
					<a href="#" class="btn btn-small btn-block btn-success">
						<i class="icon-plus-sign bigger-110"></i>
						加为好友
					</a>
	
					<a href="#" class="btn btn-small btn-block btn-primary">
						<i class="icon-envelope-alt"></i>
						发私信
					</a>
				</div>
	
				<div class="span9">
					<%= simple_form_for @user do |f| %>
						<fieldset>
							<legend>
								<h4 class="blue">
									<span class="middle"><%= current_user.name %></span>
									<span class="label label-purple arrowed-in-right">
										<i class="icon-circle smaller-80"></i>
										<%= current_user.role %>
									</span>
								</h4>
							</legend>
							<%= f.input :email, disabled: true, label: 'E-mail' %>
							<%= f.input :name, label: '用户名' %>
							<%= f.input :phone, label: '联系电话', input_html: {onkeyup: 'this.value=this.value.replace(/\D/g,\'\')', onafterpaste: 'this.value=this.value.replace(/\D/g,\'\')'} %>
							<%= f.input :password, label: '密码' %>
							<%= f.input :password_confirmation, hint: false, label: '密码确认' %>
							<div class="form-actions" >
								<%= button_tag class: 'btn btn-primary' do %>
									<i class='icon-save'></i>
									保存修改
								<% end %>
							</div>
						</fieldset>
					<% end %>
				</div><!--/span-->
			</div>
		</div>
		
		<!--PAGE CONTENT ENDS-->
	</div><!--/.span-->
</div><!--/.row-fluid-->

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-small btn-inverse">
	<i class="icon-double-angle-up icon-only bigger-110"></i>
</a>

