<% provide(:title, '重置密码') %>
<div id="forgot-box" class="forgot-box visible widget-box no-border">
  <div class="widget-body">
    <div class="widget-main">
      <h4 class="header red lighter bigger">
        <i class="icon-key "></i>
        重置密码
      </h4>
      <div class="space-6"></div>
      <p>输入接收重置密码邮件的邮箱地址</p>
      <%= form_for @user, as: :user, url: send_password_reset_instructions_users_path, :method => :put do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <fieldset>
          <label>
            <span class="block input-icon input-icon-right">
              <%= f.text_field :email, placeholder: "E-mail", class: "span12" %>
              <i class="icon-envelope"></i>
            </span>
          </label>

          <div class="space-24"></div>
          <div class="clearfix">
            <%= button_tag class: 'width-35 pull-right btn btn-small btn-danger' do %>
              <i class="icon-lightbulb"></i>
              重置密码
            <% end %>
          </div>
        </fieldset>
      <% end %>
    </div><!--/widget-main-->
    <div class="toolbar center">
      <%= link_to signin_path, class: 'back-to-login-link' do %>
        返回登录
        <i class="icon-arrow-right"></i>
      <% end %>
    </div>
  </div><!--/widget-body-->
</div><!--/signup-box-->


