<% provide(:title, t('users.reset_password_instructions')) %>
<div id="forgot-box" class="forgot-box visible widget-box no-border">
  <div class="widget-body">
    <div class="widget-main">
      <h4 class="header red lighter bigger">
        <i class="icon-key "></i>
        <%= t('users.reset_password_instructions') %>
      </h4>
      <div class="space-6"></div>
      <p><%= t('users.enter_the_email_to_receive_reset_mail') %></p>
      <%= form_for @user, as: :user, url: send_password_reset_instructions_users_path, :method => :put do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <fieldset>
          <label>
            <span class="block input-icon input-icon-right">
              <%= f.text_field :email, placeholder: t('users.email'), class: "span12" %>
              <i class="icon-envelope"></i>
            </span>
          </label>

          <div class="space-24"></div>
          <div class="clearfix">
            <%= button_tag class: 'width-35 pull-right btn btn-small btn-danger' do %>
              <i class="icon-lightbulb"></i>
              <%= t('users.reset_password_instructions') %>
            <% end %>
          </div>
        </fieldset>
      <% end %>
    </div><!--/widget-main-->
    <div class="toolbar center">
      <%= link_to signin_path, class: 'back-to-login-link' do %>
        <%= t('users.back_to_login') %>
        <i class="icon-arrow-right"></i>
      <% end %>
    </div>
  </div><!--/widget-body-->
</div><!--/signup-box-->


