<% provide(:title, t('set_a_new_password')) %>
<div id="forgot-box" class="forgot-box visible widget-box no-border">
  <div class="widget-body">
    <div class="widget-main">
      <h4 class="header red lighter bigger">
        <i class="icon-key "></i>
        <%= t('set_a_new_password') %>
      </h4>
      <div class="space-6"></div>
      <%= form_for @user, as: :user, url: new_password_users_path, :method => :put do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <%= f.hidden_field :email %>
        <fieldset>
          <label>
            <span class="block input-icon input-icon-right">
              <%= f.password_field :password, placeholder: t('users.new_password'), class: "span12" %>
              <i class="icon-lock"></i>
            </span>
          </label>
          <label>
            <span class="block input-icon input-icon-right">
              <%= f.password_field :password_confirmation, t('users.new_password_confirmation'), class: "span12" %>
              <i class="icon-retweet"></i>
            </span>
          </label>

          <div class="space-24"></div>
          <div class="clearfix">
            <%= button_tag class: 'width-35 pull-right btn btn-small btn-danger' do %>
              <i class="icon-ok"></i>
              <%= t('common.submit') %>
            <% end %>
          </div>
        </fieldset>
      <% end %>
    </div><!--/widget-main-->
    <div class="toolbar center">
      <%= link_to signin_path, class: 'back-to-login-link' do %>
        <%= t('users.back_to_login') %>
        <i class="icon-arrow-right"></i>
      <% end %>
    </div>
  </div><!--/widget-body-->
</div><!--/signup-box-->


