<% provide(:title, '修改密码') %>
<div class="page-header position-relative">
  <h1>
    修改密码
    <small>
      <i class="icon-double-angle-right"></i>
      您可以在这里修改登录密码。
    </small>

  </h1>
</div><!--/.page-header-->

<div class="row-fluid">
  <div class="span12">
    <!--PAGE CONTENT BEGINS-->
    <%= simple_form_for @user, :html => {:class => 'form-horizontal'},
                :url => url_for(:action => 'change_password', :controller => 'users') do |f| %>
      <%= f.input :current_password, label: '旧密码' do %>
        <span class="input-icon input-icon-right">
          <%= f.password_field :current_password %>
          <i class='icon-lock'></i>
        </span>
      <% end %>
      <%= f.input :password, label: '新密码' do %>
        <span class="input-icon input-icon-right">
          <%= f.password_field :password %>
          <i class='icon-lock'></i>
        </span>
      <% end %>
      <%= f.input :password_confirmation, label: '新密码确认' do %>
        <span class="input-icon input-icon-right">
          <%= f.password_field :password_confirmation %>
          <i class='icon-retweet'></i>
        </span>
      <% end %>
      
      <div class='form-actions'>
        <%= button_tag class: 'btn btn-primary' do %>
          <i class='icon-ok'></i>
          确认修改
        <% end %>
      </div>
      
    <% end %>
    
    <!--PAGE CONTENT ENDS-->
  </div><!--/.span-->
</div><!--/.row-fluid-->


