<header>
<div class="navbar navbar-fixed-top" data-no-turbolink>
  <div class="navbar-inner">
    <div class="container-fluid">
      <%= link_to root_path, class: 'brand' do %>
        <small>
          <i class="icon-leaf"></i>
          RA-TAB
        </small>
      <% end %>

      <ul class="nav ace-nav pull-right">
        
        <li>
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <i class="icon-bell-alt icon-animated-bell"></i>
            <% count = current_user.notifications.unread.count %>
            <% if count == 0 %>
              <span id='notificatioin_count' class="badge ">
                <%= count %>
              </span>
            <% else %>
              <span id='notificatioin_count' class="badge badge-important">
                <%= count %>
              </span>
            <% end %>
          </a>

          <ul id='unread-list' class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-closer">
            <li class="nav-header">
              <%= link_to notifications_path do %>
                <i class="icon-bell"></i>
                <%= t(:notification_count,
                        scope: :notification,
                        count: current_user.notifications.unread.count) %>
              <% end %>
            </li>

            <% for message in current_user.notifications.unread do %>
              <li>
                <%= link_to notifications_path do %>
                  <span class="msg-body">
                    <span class="msg-title">
                      <span class="blue"><b><%= message.title %></b></span>
                      <p><%= message.content %></p>
                    </span>

                    <span class="msg-time">
                      <i class="icon-time"></i>
                      <span><%= time_ago_in_words(message.created_at) %>之前</span>
                    </span>
                  </span>
                <% end %>
              </li>
            <% end %>
          </ul>
        </li>

        <li class="light-blue">
          <a data-toggle="dropdown" href="#" class="dropdown-toggle">
            <%= image_tag "avatars/user.jpg", class: 'nav-user-photo', alt: current_user.name %>
            <span class="user-info">
              <small><%= t('home.welcome') %></small>
              <%= current_user.name %>
            </span>

            <i class="icon-caret-down"></i>
          </a>

          <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-closer">
            <li>
              <%= link_to edit_user_path(current_user) do %>
                <i class="icon-user"></i>
                <%= t('menu.profile') %>
              <% end %>
            </li>
            <li>
              <%= link_to password_user_path(current_user) do %>
                <i class="icon-cog"></i>
                <%= t('menu.edit_password') %>
              <% end %>
            </li>

            <li class="divider"></li>

            <li>
              <%= link_to signout_path, method: :delete do %>
                <i class='icon-off'></i>
                <%= t('menu.logout') %>
              <% end %>
            </li>
          </ul>
        </li>
      </ul><!--/.ace-nav-->
    </div><!--/.container-fluid-->
  </div><!--/.navbar-inner-->
</div>
</header>